
@import url('https://fonts.cdnfonts.com/css/space-grotesk');
* {
  font-family: 'Space Grotesk', sans-serif;
}
#main-container {
  max-width: fit-content;
  height: auto;
  display: flex;
  margin: 20px;
  margin-top: 0px;
}
.container-left {
  width: 320px;
  height: 620px;
  z-index: 1;
  background-image: url("images/bg-main-desktop.png");
  background-size: cover;
  float: left;
}
.container-right {
  width: 900px;
  height: 620px;
  z-index: 1;
  float: right;
  background-color: white;
}
.card-front {
  width: 340px;
  height: 190px;
  z-index: 1;
  position: relative;
  left: -28%;
  top: 10%;
  border-radius: 10px;
  background-image: url("images/bg-card-front.png");
  background-size: cover;
  box-shadow: 10px;
}
.card-back {
  width: 340px;
  height: 190px;
  z-index: 1;
  position: relative;
  right: 20%;
  top: 15%;
  border-radius: 10px;
  background-image: url("images/bg-card-back.png");
  background-size: cover;
  box-shadow: 10px;
  border: 5px;
  border-color: black;
}



.front-container {
  width: 50%;
  margin: 10px;
  z-index: 1;
  position: relative;
  top: -50%;
  right: -30%;
}

form {
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #220930;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #220930;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(95%);
}

button:hover {
  background-color: #0056b3;
}
.form-flex {
  position: relative;
  display: flex;
}
.same {
  display: flex;
  
}
.form-flex input {
  width: 100%;
}
.form-flex .same input {
  width: 40%;
}
.expiry{
  position: relative;
  left: -30%;
}

#cvv{
  position: relative;
  left: -30%;
}


.expiry2 label{
  position: relative;
  left: 0%;
}
.card-number{
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 10%;
}

.card-name{
  font-weight: 500;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  position: relative;
  bottom: -15%;
  margin-left: 20px;
}
.cc-date{
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
  position: relative;
  bottom: 0%;
  margin-left: 80%;
  color: white;
  font-size: 14px;
}
#card-picture{
  position: relative;
  top: 15%;
  margin-left: 5%;

}


.cvv-digit{
  position: relative;
  top: 45%;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-right: -70%;
  color: hsl(270, 3%, 87%);
  font-size: 14px;
}


.message{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.thank{
  position: relative;
  width: calc(70%);
  justify-content: center;
  align-items: center;
  right: 0%;
  
}

.submit-ontop{
  position: relative;
  z-index: 2;
  margin-top: -70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: -10%;

}